.title{
	margin-top: 50px ;	
	text-align:center;
	color:black;
	font-family:'Roboto Slab';
}
.search-container{
	margin-top: 10px ;	
	text-align:center;
	width:100%;
}
.results-container{
	
	margin-top: 100px ;	
	width:100%;
	background-color:#FFDEAD;
}
.search-row{
	text-align:center;
	width:100%;
}

#search{
	width:100% !important; 
}
.btn-group{
	margin:0px 0px 0px 0px !important;
	height:100%;
	float:left;	
	
}

.padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}

.right{
	float:right;
}
.left{
	float:left;
}
label{
	float:left;
}